<aside class="sidebar">

    <div class="logo">

        <i class="bi bi-mortarboard-fill me-2"></i>

        RMC ERP

    </div>

    <ul>

        <li>
            <a href="#">
                <i class="bi bi-speedometer2"></i>
                Dashboard
            </a>
        </li>

        <li>
    <a href="{% url 'student_profile' %}">
        <i class="fas fa-user"></i>
        <span>Profile</span>
    </a>
</li>

        <li>
            <a href="#">
                <i class="bi bi-people"></i>
                Students
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-person-workspace"></i>
                Teachers
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-calendar-check"></i>
                Attendance
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-journal-text"></i>
                Marks
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-folder2-open"></i>
                Assignments
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-megaphone"></i>
                Notice Board
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-credit-card-2-front"></i>
                ID Cards
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-book"></i>
                Library
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-cash-stack"></i>
                Fees
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-briefcase"></i>
                Placement
            </a>
        </li>

        <li>
            <a href="/logout/">
                <i class="bi bi-box-arrow-right"></i>
                Logout
            </a>
        </li>

    </ul>

</aside>