{% load static %}

<!-- Mobile Menu Button -->
<button id="menu-btn" class="mobile-menu" type="button">
    <i class="bi bi-list"></i>
</button>

<!-- Sidebar -->
<aside class="sidebar">

    <div class="logo-area">
        <img src="{% static 'images/logo/college_logo.png' %}" class="logo">
        <h5>Student ERP</h5>
    </div>

    <ul>

        <li class="{% if request.path == '/student/dashboard/' %}active{% endif %}">
            <a href="/student/dashboard/">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="{% if request.path == '/student/profile/' %}active{% endif %}">
            <a href="/student/profile/">
                <i class="bi bi-person-circle"></i>
                <span>Profile</span>
            </a>
        </li>

        <li class="{% if request.path == '/student/attendance/' %}active{% endif %}">
            <a href="/student/attendance/">
                <i class="bi bi-calendar-check"></i>
                <span>Attendance</span>
            </a>
        </li>

        <li class="{% if request.path == '/student/marks/' %}active{% endif %}">
            <a href="/student/marks/">
                <i class="bi bi-journal-check"></i>
                <span>Marks</span>
            </a>
        </li>

        <li class="{% if request.path == '/student/subjects/' %}active{% endif %}">
            <a href="/student/subjects/">
                <i class="bi bi-book"></i>
                <span>Subjects</span>
            </a>
        </li>

        <li class="{% if request.path == '/student/study-materials/' %}active{% endif %}">
            <a href="{% url 'student_study_materials' %}">
                <i class="bi bi-journal-bookmark-fill"></i>
                <span>Study Materials</span>
            </a>
        </li>

        <li>
            <a href="/notice-board/">
                <i class="bi bi-megaphone"></i>
                <span>Notice Board</span>
            </a>
        </li>

        <li>
            <a href="/logout/">
                <i class="bi bi-box-arrow-right"></i>
                <span>Logout</span>
            </a>
        </li>

    </ul>

</aside>