{% load static %}

<button id="menu-btn" class="mobile-menu">
    <i class="bi bi-list"></i>
</button>

<aside class="sidebar">

    <div class="logo-area">

        <img src="{% static 'images/logo/college_logo.png' %}" class="logo">

        <h5>Teacher ERP</h5>
    </div>
    <ul class="menu">

    <li>
        <a href="{% url 'teacher_dashboard' %}"
           class="{% if request.resolver_match.url_name == 'teacher_dashboard' %}active{% endif %}">
            <i class="bi bi-grid-fill"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <li>
        <a href="{% url 'teacher_profile' %}"
           class="{% if request.resolver_match.url_name == 'teacher_profile' %}active{% endif %}">
            <i class="bi bi-person-circle"></i>
            <span>My Profile</span>
        </a>
    </li>

    <li>
        <a href="{% url 'view_students' %}"
           class="{% if request.resolver_match.url_name == 'view_students' %}active{% endif %}">
            <i class="bi bi-people-fill"></i>
            <span>Students</span>
        </a>
    </li>

    <li>
        <a href="{% url 'teacher_attendance' %}"
           class="{% if request.resolver_match.url_name == 'teacher_attendance' %}active{% endif %}">
            <i class="bi bi-calendar-check-fill"></i>
            <span>Attendance</span>
        </a>
    </li>

    <li>
        <a href="{% url 'attendance_history' %}"
           class="{% if request.resolver_match.url_name == 'attendance_history' %}active{% endif %}">
            <i class="bi bi-clock-history"></i>
            <span>Attendance History</span>
        </a>
    </li>

    <li>
        <a href="{% url 'teacher_marks' %}"
           class="{% if request.resolver_match.url_name == 'teacher_marks' %}active{% endif %}">
            <i class="bi bi-pencil-square"></i>
            <span>Add Marks</span>
        </a>
    </li>



    <li>
        <a href="{% url 'teacher_study_materials' %}"
           class="{% if request.resolver_match.url_name == 'teacher_assignments' %}active{% endif %}">
            <i class="bi bi-journal-bookmark-fill"></i>
            <span>Study Materials</span>
        </a>
    </li>

</ul>

    <div class="logout">

        <a href="{% url 'teacher_logout' %}">
            <i class="bi bi-box-arrow-right"></i>
            <span>Logout</span>
        </a>

    </div>

</aside>